<div class="index">
	<div class="index-img">
		<img src="/img/index.jpg" alt="">
	</div>

	<div class="two">
		<div class="left" style="text-align:center">
			<img src="/img/diy_1.jpg" width="60%;" style="margin-top: 120px;" alt="">
			<p style="margin-top: -250px;font-size: 24px;letter-spacing: 5px;">设计订婚戒指</p>
			<a href="" style="margin: 0 auto;margin-top:250px;display:block;background-color:#FF8680;width:200px;font-size:12px;color:#fff;padding:8px 15px">马上开始挑选</a>
		</div>

		<div class="right">
			<img src="/img/right1.jpg" alt="">
		</div>
	</div>

	<div class="wenzi" style="margin-top: 30px;margin-bottom:30px;">
		<p class="en">N E W S H O W</p>
		<p class="cn">最新产品</p>
	</div>

	<div class="index-pro">
		<div class="left">
			<img src="/img/index-cp.jpg" alt="">
		</div>
		<div class="right">
			<div class="cp1">
				<a href="">
					<img src="/img/index2.jpg" alt="">
					<a href="" class="m-btn">了解更多</a>
				</a>
			</div>
			<div class="cp2">
				<a href="">
					<img src="/img/index2.jpg" alt="">
					<a href="" class="m-btn">了解更多</a>
				</a>
			</div>
			<div class="cp3">
				<a href="">
					<img src="/img/index2.jpg" alt="">
					<a href="" class="m-btn">了解更多</a>
				</a>
			</div>
			<div class="cp4">
				<a href="">
					<img src="/img/index2.jpg" alt="">
					<a href="" class="m-btn">了解更多</a>
				</a>
			</div>
		</div>
	</div>
	<script>
		$('.index-pro .right>div>a>img').hover(function() {
			/* Stuff to do when the mouse enters the element */
			$(this).css('opacity', .3);
			$(this).siblings('a').css('opacity', '1');
		}, function() {
			/* Stuff to do when the mouse leaves the element */
			$(this).css('opacity', 1);
			$(this).siblings('a').css('opacity', 0);
		});
	</script>

	<div class="wenzi" style="margin-bottom:30px;">
		<p class="en">N E W S H O W</p>
		<p class="cn">门店展示</p>
	</div>

	<div class="mendian">
		<div class="left">
			<img src="/img/mendian2.jpg" alt="">
		</div>
		<div class="right">
			<p><span style="font-size:24px;padding-top: 150px;display:block">深圳体验中心</span></p>
			<br>
			<p>--------------</p>
			<p style="font-size:12px;line-height:24px;">深圳市南山区南海大道粤海街道3688号
			<br>周一至周五6:00～18:00 &nbsp &nbsp &nbsp &nbsp周一至周五6:00～18:00 
			<br>咨询电话：3523523525
			</p>
		</div>
	</div>
</div>















