<div class="product">
	<div class="header">
		<img src="/img/probg.jpg" alt="">
	</div>
<br>
	<div class="tab">
		<div class="xilie">
			<span><b>系列</b></span><i style="line-height:40px;color:#C4BCC0">|</i>
			<a href="">系列1</a>
			<a href="">系列2</a>
			<a href="">系列3</a>
			<a href="">系列4</a>
		</div>
			<div class="kuangshi">
			<span><b>款式</b></span>
			  <i style="line-height:40px;color:#C4BCC0">|</i>
				<a href="">戒指</a>
				<a href="">耳环</a>
				<a href="">吊坠</a>
				<a href="">等等</a>
			</div>
	</div>	
	<br>
	<br>
	<br>
	<hr style="width:1000px;margin:0 auto">
	<br>
	<div class="product-desc">
		<div class="top">
			<p><a href="">景福珠宝 > </a><a href="">产品 > </a><a href="">戒指 > </a><a href="">花懿系列之绣球美钻耳钉</a>

								<a style="float: right"><i class="fa fa-angle-left"></i> 上一页</a>
			</p>

		</div>
		<br>
	<hr style="width:1000px;margin:0 auto">
	<br><br>
		<div class="left">
			
			<div class="img-desc">
				<img src="/img/index2.jpg" alt="">
			</div>
		</div>
		<div class="right">
			<h3>花懿系列之绣球美钻耳钉</h3>
			<hr>
			<br>
			<br>
			<h4>饰品细节</h4>
			<hr>
			<span style="float:left;color:#A08C97">美钻型状</span><span style="float: right">圆形明亮型</span>
			<br>
			<hr>
			<span style="float:left;color:#A08C97">美钻型状</span><span style="float: right">圆形明亮型</span>
			<br>
			<hr>
			<span style="float:left;color:#A08C97">美钻型状</span><span style="float: right">圆形明亮型</span>
			<br>
			<hr>
			

		</div>
	</div>
	
</div>