<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/responsiveslides.css">
	<link rel="stylesheet/less" type="text/css" href="/css/app.less">
	<script src="/js/less.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<title><%- title %></title>
</head>
<body>

<header>
	<div class="top">
		<p class="left">欢迎进入景福珠宝官网&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp登陆&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注册</p>
		<p class="right">
			<i class="fa fa-shopping-cart fa-lg"></i> 购物车 <span style="color: #DB536A">0</span>
			 <i class="fa fa-chevron-down"></i>
			 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			 <span>我的订单</span>
			 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			 <span><i class="fa fa-phone"></i> 客服热线：400-400-4000</span>
			 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			 <span>中文（简体）</span><i class="fa fa-chevron-down"></i>

		</p>
	</div>
	<div class="center">
		<div class="logo">
			<img src="/img/logo.png" alt="" width="100px;">
		</div>
		<div class="right">
			<input type="text"><span>搜索</span>
			<a href="">在线商城</a>
		</div>
		
	</div>	
	<div class="bottom">
		<ul>
			<li><a href="/" class="cn">首页</a><a href="/" class="en">Home</a></li>
			<li><a href="/product" class="cn">产品</a><a href="/product" class="en">Product</a></li>
			<li><a href="" class="cn">案例</a><a href="" class="en">Case</a></li>
			<li><a href="" class="cn">JF 品牌文化</a><a href="" class="en">JF Culture</a></li>
			<li><a href="" class="cn">关于景福&nbsp</a><a href="" class="en">About JF</a></li>

		</ul>
	</div>
</header>
<script>
	$('header .bottom li').hover(function() {
		/* Stuff to do when the mouse enters the element */
		$(this).find('.en').css('opacity', 1);
		$(this).find('.cn').css('opacity', 0);
	}, function() {
		/* Stuff to do when the mouse leaves the element */
		$(this).find('.en').css('opacity', 0);
		$(this).find('.cn').css('opacity', 1);
	});
</script>

<%-body %>


<footer>
	<div class="nav">
		<div class="about">
			<p>关于我们</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 品牌简介</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 市场合作</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 联系我们</p>
		</div>
		<div class="xl">
			<p>系列产品</p>
						<p style="font-size:12px;"><i class="fa fa-angle-right"></i>  钻石</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 戒指</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 耳环</p>
		</div>	
		<div class="shouhou">
			<p>售后服务</p>
						<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 退货流程</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 办理售后</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 15天退货</p>
		</div>
		<div class="zhinan">
			<p>新手指南</p>
						<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 注册登录</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 网站地图</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 如何预约</p>
		</div>
		<div class="yuyue">
			<p>预约购买</p>
						<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 体验店自提</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 订单查询</p>
			<p style="font-size:12px;"><i class="fa fa-angle-right"></i> 支付方式</p>
		</div>	
		<div class="weixin">
			<img src="/img/weixin2.jpg" alt="">
		</div>
	</div>
	<div style="text-align:center">
		<p style="font-size:12px;">
			Copyright © 2006-2016 www.darryring.com 戴瑞珠宝 All Rights Reserved. 粤ICP备11012085号-2 <br>
ICP经营许可证粤B2-20140279 | 中国互联网违法信息举报中心 | 中国公安网络110报警服务 | 本网站提供所售商品的正式发票
<br><br>
中文（简体）/ 中文（繁体）/ English <br><br><br>
		</p>
	</div>
</footer>
</body>
</html>